.whatsapp {
  position: fixed;
  bottom: 40px;
  left: 30px;
  z-index: 99;
  width: 60px;
  height: 60px;
  background-color: #4dc247;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 35px;
      height: 35px;
    }
  }
}
